@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('//fonts.googleapis.com/css?family=Ubuntu');

.App{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container{
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
}
header{
  background-color: #F8F9FA;
  width: 100vw;
  opacity: 1;
}
.grid-character{
  display: grid;
  grid-template-columns: repeat(3, 270px);
  margin-top: 0px;
}
@media (max-width:850px) {
  .grid-character{
    display: grid;
    grid-template-columns: repeat(1, 302px);
    align-content: center;
    margin-top: 20px;
  }
 
}
